body {
    background: cornsilk;
}

.server-error {
    margin: 20vh 20vw 20vh 20vw;
}

input[type=submit] {
    width: 100%;
    margin-top: 0.2em;
    height: 3em;
    background: Khaki;
}

input[type=submit]:hover {
    background: darkkhaki;
}

input[type=submit]:focus {
    outline: none;
    border-color: lightsteelblue;
}