body {
    margin-top: 20vh;
    background: cornsilk;
    color: black;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 0.8em;
}

h3 {
    font-size: 1em;
}

.error, .logout {
    text-align: center;
    margin-top: 0.08em;
}

.error {
    color: darkred;
    background-color: LightSalmon;
}

.logout {
    color: darkgreen;
    background-color: Aquamarine;
}

.field {
    width: 12.5em;
    margin-top: 0.08em;
    background: LightGoldenrodYellow;
}

.button {
    width: 13em;
    height: 3em;
    margin-top: 0.2em;
    background: Khaki;
}

.button:hover,
.field:hover {
    background: darkkhaki;
}

.back {
    background: PeachPuff
}

.back:hover {
    background: Coral;
}