/* General */
.welcome-container {
    color: black;
    font-size: 10px;
    margin-left: 16vw;
    width: fit-content;
}

.welcome-title {
    overflow: scroll;
    text-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 18vw;
    width: 100vw;
    font-size: 4em;
    text-align: left;
    z-index: 5;
    background-color: white;
}

.menu-area {
    scrollbar-color: grey lightgrey;
    scrollbar-width: thin;
    overflow: scroll;
    position: fixed;
    top: 15vh;
    left: 0;
    width: 15vw;
    height: 50vh;
    font-size: 3em;
    padding-left: 1%;
    border-right: double black;
    font-weight: bold;
    font-style: italic;
    z-index: 10;
    background-color: white;
}

.sub-menu {
    padding-left: 3%;
    font-size: 0.65em;
    list-style-type: none;
}

.sub-sub-menu {
    padding-left: 3%;
    font-size: 0.8em;
    list-style-type: none;
    font-weight: normal;
    font-style: italic;
}

.output-area {
    font-size: 1em;
    text-align: center;
    margin-top: 5.5em;
    margin-left: 1.5em;
}


/* Links base style */
.menu-area a,
.menu-area a:visited,
.alter-data a,
.alter-data a:visited {
    text-decoration: none;
    color: black;
}


/* Links hover style */
.menu-area a:hover,
.menu-area label:hover,
.alter-data a:hover {
    color: royalblue;
}


/* Upload forms */
.upload-form label {
    display: block;
}

.upload-form input {
    display: none;
}

.upload-form,
.template-form {
    border-left: dotted thin black;
}


/* Alter forms */
.alter-data {
    position: absolute;
    top: 15vh;
    text-align: left;
    left: 25vw;
    right: 25vw;
    color: black;
    z-index: 30;
    font-size: 2em;
}

.alter-data input[type=text],
.alter-data input[type=password] {
    width: 100%;
}

.alter-data input[readonly] {
    background: darkgrey;
}

.shadow {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    opacity: 50%;
    background-color: black;
    width: 100vw;
    height: 100vh;
}


/* Alter source property style */
.alter-source-property {
    width: 70vh;
}

.alter-source-property fieldset {
    display: grid;
    grid-template-columns: 27% 74%;
    row-gap: 0.2em;
}

.alter-source-property a {
    margin-top: 1em;
    margin-left: 0.2em;
}

.alter-source-property label {
    padding-top: 0.3em;
}

.alter-source-property input[type=text] {
    width: 96.5%;
    margin-left: 0.5%;
    font-size: 0.7em;
}

.alter-source-property div {
    border: 0.13em inset lightgray;
    background: darkgrey;
    width: 97.6%;
    margin-left: 0.1em;
    font-size: 0.8em;
    padding-top: 0.3em;
}

.select-year {
    padding-left: 2vw;
    text-align: left;
}


/* Form submit button */
.output-area input[type=submit] {
    font-size: 0.8em;
}

.output-area select {
    font-size: 0.8em;
    margin: 0.2em;
}

.alter-data input[type=submit] {
    font-size: 0.8em;
    margin-top: 1em;
}


/* Table data */
.list-data tr:hover {
    background: lavender;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 0.5em;
}

th {
    white-space: nowrap;
    background-color: bisque;
}