.welcome-container {
    color: black;
    font-size: 10px;
    margin-left: 21%;
    margin-right: 1%;
}

.welcome-title {
    height: 10vh;
    font-size: 6em;
    text-align: center;
}

.menu-area {
    position: fixed;
    top: 3vh;
    left: 1vw;
    width: 13%;
    font-size: 3em;
    padding-left: 1%;
    border-right: double black;
    font-weight: bold;
    font-style: italic;
}

.sub-menu {
    padding-left: 3%;
    font-size: 0.65em;
    list-style-type: none;
}

.sub-sub-menu {
    padding-left: 3%;
    font-size: 0.8em;
    list-style-type: none;
    font-weight: normal;
    font-style: italic;
}

.output-area {
    font-size: 4em;
    text-align: center;
    margin-top: 35vh;
}

ul {
    margin-top: -1%;
}

.inactive {
    display: none;
}

.test-one {
    border: dodgerblue solid medium;
}

.test-two {
    border: #f60428 solid medium;
}