/* General */
body,
.alter-data,
.list-data {
    background: cornsilk;
}

.welcome-container {
    color: black;
    font-size: 10px;
    width: fit-content;
    margin: 0;
    display: grid;
    grid-template-columns: 15vw 82vw;
    grid-template-rows: 6em calc(96vh - 6em);
}

.welcome-title {
    grid-column: 1 / 3;
    grid-row: 1;
    padding-left: 12vw;
    font-size: 4em;
    font-style: italic;
    font-weight: bolder;
    text-align: left;
    overflow: scroll;
    text-wrap: nowrap;
}

.menu-area {
    grid-column: 1;
    grid-row: 2;
    max-width: 7em;
    margin-top: 10vh;
    padding-left: 1%;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    scrollbar-color: grey lightgrey;
    scrollbar-width: thin;
    overflow: scroll;
}

.menu-area > ul {
    border-right: double black;
}

.sub-menu {
    padding-left: 3%;
    font-size: 0.65em;
    list-style-type: none;
}

.sub-sub-menu {
    padding-left: 3%;
    list-style-type: none;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

.output-area {
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    text-align: center;
    margin-left: 1.5em;
}


/* Links base style */
.menu-area a,
.menu-area a:visited,
.alter-data a,
.alter-data a:visited {
    text-decoration: none;
    color: black;
}


/* Links hover style */
.menu-area a:hover,
.menu-area label:hover,
.alter-data a:hover {
    color: royalblue;
}


/* Upload forms */
.upload-form label {
    display: block;
}

.upload-form input {
    display: none;
}

.upload-form,
.template-form {
    border-left: dotted thin black;
}


/* Alter forms */
.alter-data {
    position: absolute;
    top: 15vh;
    left: 25vw;
    right: 25vw;
    color: black;
    font-size: 2em;
    text-align: left;
    z-index: 30;
}

.alter-data input[type=text],
.alter-data input[type=password] {
    width: 100%;
}

.alter-data input[readonly] {
    background: darkgrey;
}

.shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 30%;
    background-color: black;
    z-index: 20;
}


/* Alter source property style */
.alter-source-property {
    width: 100vh;
}

.alter-source-property fieldset {
    display: grid;
    grid-template-columns: 27% 74%;
    row-gap: 0.2em;
}

.alter-source-property a {
    margin-top: 1em;
    margin-left: 0.2em;
}

.alter-source-property label {
    padding-top: 0.3em;
}

.alter-source-property input[type=text] {
    width: 96.5%;
    margin-left: 0.5%;
    font-size: 0.7em;
}

.alter-source-property div {
    width: 97.6%;
    margin-left: 0.1em;
    font-size: 0.8em;
    padding-top: 0.3em;
    border: 0.13em inset lightgray;
    background: darkgrey;
}

.select-year {
    padding-left: 2vw;
    text-align: left;
}


/* Form submit button */
.output-area input[type=submit] {
    font-size: 0.8em;
}

.output-area select {
    font-size: 0.8em;
    margin: 0.2em;
}

.alter-data input[type=submit] {
    font-size: 0.8em;
    margin-top: 1em;
}


/* Table data */
tr:has(td:not([rowspan]):hover) td:not([rowspan]) {
    background: lavender;
}

.list-data .one-row:hover {
    background: #d7d7e1;
}

.list-data table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
}

.list-data th, td {
    border: 1px solid black;
    padding: 0.5em;
}

.list-data th {
    white-space: nowrap;
    background-color: bisque;
    position: sticky;
    top: 0;
}

.list-data {
    overflow: scroll;
    max-height: calc(95vh - 7em);
    text-align: center;
}


/* Alter SSFC */
.alter-data {
    border-style: groove;
}

.alter-ssfc-container {
    position: relative;
    overflow: scroll;
    max-height: calc(95vh - 7em);
    font-size: 0.7em;
    left: 0;
    top: 0;
}

.alter-ssfc {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    width: fit-content;
}

.alter-ssfc input:not([type=submit]):not([readonly]) {
    width: fit-content;
    font-size: 0.7em;
    text-align: center;
    border: none;
    background: cornsilk;
}

.alter-ssfc tr:hover input:not([type=submit]) {
    background: lavender;
}

.ssfc-param {
    min-width: 25em;
}

#fuelType {
    position: relative;
    left: 0.9em;
    width: 15.7em;
    font-size: 0.7em;
}

#srcName {
    position: relative;
    left: 2.75em;
    width: 15em;
    font-size: 0.7em;
}

#srcId {
    position: relative;
    left: 2.4em;
    width: 15.7em;
    font-size: 0.7em;
}

/* Invalid field */
input:invalid {
    box-shadow: 0 0 0.5em 0.1em red;
}

input:focus,
select:focus {
    box-shadow: none;
}

select:invalid {
    box-shadow: 0 0 0.2em 0.05em red;
}

/* Report */
.report {
    font-size: 1.5em;
    max-width: 34em;
    text-wrap: nowrap;
    overflow: scroll;
    text-align: left;
    margin-bottom: 1em;
}

.report label {
    display: inline-block;
    overflow: hidden;
    width: 14em;
    vertical-align: middle;
}

.report label:hover {
    color: royalblue;
}

.report legend {
    font-weight: bold;
}

.report .select-sources {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    max-height: 8em;
    overflow: scroll;
    border: thin;
    transition: max-height 1s;
    margin-top: 0.5em;
}

.ssfc-report {
    max-width: 51em;
    overflow: scroll;
}

.ssfc-report #select-all:checked ~ .select-sources {
    max-height: 0;
}