<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/login.css" th:href="@{/css/login.css}">
</head>

<body>
<h1>Нормативные удельные расходы топлива на отпуск тепловой энергии</h1>
<h2>(Архив данных)</h2>
<h3>Пожалуйста, введите имя пользователя и пароль</h3>
<div th:if="${param.error}" class="error">
    Имя пользователя и пароль введены неверно
</div>
<div th:if="${param.logout}" class="logout">
    Вы вышли из системы
</div>
<form th:action="@{/login}" method="post">
    <div>
        <input class="field" type="text" name="username" placeholder="Имя пользователя"/>
    </div>
    <div>
        <input class="field" type="password" name="password" placeholder="Пароль"/>
    </div>
    <input type="submit" value="Войти" class="button"/>
</form>
</body>
</html>