<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Report templates</title>
</head>

<body>
<div class="report" th:fragment="source">
    <form method="get" th:action="@{/report/source}">
        <fieldset>
            <legend>Источники:</legend>

            <input type="radio" id="source-template" name="type" value="template">
            <label for="source-template">В формате шаблона загрузки</label>
            <input type="radio" id="source-all" name="type" value="standard" checked>
            <label for="source-all">В стандартном формате</label>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report" th:fragment="branch">
    <form method="get" th:action="@{/report/branch}">
        <fieldset>
            <legend>Филиалы:</legend>

            <input type="radio" id="branch-template" name="type" value="template">
            <label for="branch-template">В формате шаблона загрузки</label>
            <input type="radio" id="branch-all" name="type" value="standard" checked>
            <label for="branch-all">В стандартном формате</label>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report" th:fragment="tariffzone">
    <form method="get" th:action="@{/report/tariffzone}">
        <fieldset>
            <legend>Тарифные зоны:</legend>

            <input type="radio" id="tariffzone-template" name="type" value="template">
            <label for="tariffzone-template">В формате шаблона загрузки</label>
            <input type="radio" id="tariffzone-all" name="type" value="standard" checked>
            <label for="tariffzone-all">В стандартном формате</label>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>


<div class="report" th:fragment="sourceproperty(reportYear)">
    <form method="get" th:action="@{/report/sourceproperty}">
        <fieldset>
            <legend>Свойства источников:</legend>

            <label for="year-source-properties">Выбор отчетного года:</label>
            <select id="year-source-properties" name="year">
                <option th:each="year : ${#numbers.sequence(2020, #dates.createNow().getYear() + 1905, 1)}"
                        th:value="${year}" th:text="${year}"
                        th:selected="${reportYear == year}">
                </option>
            </select>
            <br>
            <input type="radio" id="sourceproperty-template" name="type" value="template">
            <label for="sourceproperty-template">В формате шаблона загрузки</label>
            <input type="radio" id="sourceproperty-all" name="type" value="standard" checked>
            <label for="sourceproperty-all">В стандартном формате</label>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report ssfc-report" th:fragment="ssfc(reportYear, sumTypes, reportSources, periods)">
    <form method="get" th:action="@{/report/ssfc}">
        <fieldset>
            <legend>НУР:</legend>

            <label for="year-ssfc">Выбор отчетного года:</label>
            <select id="year-ssfc" name="year">
                <option th:each="year : ${#numbers.sequence(2020, #dates.createNow().getYear() + 1905, 1)}"
                        th:value="${year}" th:text="${year}"
                        th:selected="${year == reportYear}">
                </option>
            </select>

            <label th:class="add-year-link">Добавить</label>

            <div class="select-type">
                <input type="radio" id="ssfc-template" name="type" value="template">
                <label for="ssfc-template">В формате шаблона загрузки</label>
                <input type="radio" id="ssfc-all" name="type" value="standard" checked>
                <label for="ssfc-all">В стандартном формате</label>
                <input type="radio" id="ssfc-period" name="type" value="period">
                <label for="ssfc-period">Отчет за период</label>
            </div>

            <div th:class="ssfc-periods">
                <fieldset>
                    <legend>Период:</legend>
                    <div th:class="ssfc-period" th:each="yearPeriods : ${periods.entrySet()}"
                         th:with="monthPeriods = ${yearPeriods.getValue()}">
                        <label th:text="|${yearPeriods.getKey()} год:|"></label>
                        <input id="period-month-0" type="checkbox" class="period-select"
                               name="periods"
                               th:value="${yearPeriods.getKey() + '.0'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.0')}"/>
                        <label for="period-month-0">Год</label>
                        <input id="period-month-1" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.1'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.1')}"/>
                        <label for="period-month-1">Январь</label>
                        <input id="period-month-2" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.2'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.2')}"/>
                        <label for="period-month-2">Февраль</label>
                        <input id="period-month-3" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.3'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.3')}"/>
                        <label for="period-month-3">Март</label>
                        <input id="period-month-4" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.4'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.4')}"/>
                        <label for="period-month-4">Апрель</label>
                        <input id="period-month-5" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.5'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.5')}"/>
                        <label for="period-month-5">Май</label>
                        <input id="period-month-6" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.6'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.6')}"/>
                        <label for="period-month-6">Июнь</label>
                        <input id="period-month-7" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.7'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.7')}"/>
                        <label for="period-month-7">Июль</label>
                        <input id="period-month-8" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.7'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.7')}"/>
                        <label for="period-month-8">Август</label>
                        <input id="period-month-9" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.8'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.8')}"/>
                        <label for="period-month-9">Сентябрь</label>
                        <input id="period-month-10" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.9'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.9')}"/>
                        <label for="period-month-10">Октябрь</label>
                        <input id="period-month-11" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.10'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.10')}"/>
                        <label for="period-month-11">Ноябрь</label>
                        <input id="period-month-12" type="checkbox" class="period-month"
                               name="periods" th:value="${yearPeriods.getKey() + '.11'}"
                               th:checked="${monthPeriods.contains(yearPeriods.getKey() + '.11')}"/>
                        <label for="period-month-12">Декабрь</label>
                        <label th:class="delete-year-link">Удалить</label>
                    </div>
                </fieldset>
            </div>

            <fieldset>
                <legend>Выбор источников:</legend>
                <div class="select-sources">
                    <div class="select-summaries">
                        <p>Промежуточные итоги по:</p>
                        <th:block th:each="sumType : ${sumTypes}">
                            <input type="checkbox" th:id="${#ids.seq('sumType')}" name="sumType"
                                   th:value="${sumType.getValue()}"
                                   th:checked="${sumType.getValue().equals('tz') || sumType.getValue().equals('totals')}">
                            <label th:for="${#ids.prev('sumType')}" th:text="${sumType.getKey()}"></label>
                        </th:block>
                    </div>

                    <div class="ssfc-selection">
                        <input type="radio" id="select-all" name="selection" value="all" checked>
                        <label for="select-all">Все источники</label>
                        <input type="radio" id="select-particular" name="selection" value="particular">
                        <label for="select-particular">Выборочно</label>

                        <p class="no-data"
                           th:text="${reportSources.isEmpty() ? 'НУР на указанный период не заведены в систему' : ''}">
                        </p>
                    </div>

                    <div class="pick-sources">
                        <th:block th:each="source : ${reportSources}">
                            <input type="checkbox" th:id="${#ids.seq('source')}" name="sources"
                                   th:value="${source.sourceId}">
                            <label th:for="${#ids.prev('source')}" th:text="${source.sourceName}"></label>
                        </th:block>
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

</body>
</html>