<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Report templates</title>
</head>

<body>
<div class="report" th:fragment="source">
    <form method="get" th:action="@{/report/source}">
        <fieldset>
            <legend>Источники:</legend>

            <input type="radio" id="source-template" name="type" value="template">
            <label for="source-template">В формате шаблона загрузки</label>
            <input type="radio" id="source-all" name="type" value="standard" checked>
            <label for="source-all">В стандартном формате</label>
            <br>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report" th:fragment="branch">
    <form method="get" th:action="@{/report/branch}">
        <fieldset>
            <legend>Филиалы:</legend>

            <input type="radio" id="branch-template" name="type" value="template">
            <label for="branch-template">В формате шаблона загрузки</label>
            <input type="radio" id="branch-all" name="type" value="standard" checked>
            <label for="branch-all">В стандартном формате</label>
            <br>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report" th:fragment="tariffzone">
    <form method="get" th:action="@{/report/tariffzone}">
        <fieldset>
            <legend>Тарифные зоны:</legend>

            <input type="radio" id="tariffzone-template" name="type" value="template">
            <label for="tariffzone-template">В формате шаблона загрузки</label>
            <input type="radio" id="tariffzone-all" name="type" value="standard" checked>
            <label for="tariffzone-all">В стандартном формате</label>
            <br>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>


<div class="report" th:fragment="sourceproperty(reportYear)">
    <form method="get" th:action="@{/report/sourceproperty}">
        <fieldset>
            <legend>Свойства источников:</legend>

            <label for="year">Выбор отчетного года:</label>
            <select id="year" name="year">
                <option th:each="year : ${#numbers.sequence(2020, #dates.createNow().getYear() + 1905, 1)}"
                        th:value="${year}" th:text="${year}"
                        th:selected="${reportYear == year}">
                </option>
            </select>
            <br>
            <input type="radio" id="sourceproperty-template" name="type" value="template">
            <label for="sourceproperty-template">В формате шаблона загрузки</label>
            <input type="radio" id="sourceproperty-all" name="type" value="standard" checked>
            <label for="sourceproperty-all">В стандартном формате</label>
            <br>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

<div class="report ssfc-report" th:fragment="ssfc(reportYear, reportSources)">
    <form method="get" th:action="@{/report/ssfc}">
        <fieldset>
            <legend>НУР:</legend>

            <label for="year">Выбор отчетного года:</label>
            <select id="year" name="year"
                    onchange="window.location.replace('/report?year=' + this.options[this.selectedIndex].value)">
                <option th:each="year : ${#numbers.sequence(2020, #dates.createNow().getYear() + 1905, 1)}"
                        th:value="${year}" th:text="${year}"
                        th:selected="${year == reportYear}">
                </option>
            </select>
            <br>
            <input type="radio" id="ssfc-template" name="type" value="template">
            <label for="ssfc-template">В формате шаблона загрузки</label>
            <input type="radio" id="ssfc-all" name="type" value="standard" checked>
            <label for="ssfc-all">В стандартном формате</label>
            <br>
            <br>

            <fieldset>
                <legend>Выбор источников:</legend>
                <input type="radio" id="select-all" name="selection" value="all" checked>
                <label for="select-all">Все источники</label>
                <input type="radio" id="select-particular" name="selection" value="particular">
                <label for="select-particular">Выборочно</label>
                <br>
                <br>
                <p th:if="${reportSources.isEmpty()}"
                   th:text="'НУР на указанный период не заведены в систему'">
                </p>
                <div class="select-sources">
                    <th:block th:each="source : ${reportSources}">
                        <input type="checkbox" th:id="${#ids.seq('source')}" name="sources"
                               th:value="${source.sourceId}">
                        <label th:for="${#ids.prev('source')}" th:text="${source.sourceName}"></label>
                    </th:block>
                </div>
            </fieldset>
            <br>
            <input type="submit" value="Выгрузить отчет">
        </fieldset>
    </form>
</div>

</body>
</html>