<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="all-sources (sources)">
    <div>
        <table>
            <th>UUID</th>
            <th>Источник</th>
            <th>Адрес источника</th>
            <th>Тип источника</th>
            <th>Изменить</th>
            <th>Удалить</th>
            <tr th:each="source : ${sources}" th:object="${source}">
                <td th:text="*{id}">Example</td>
                <td th:text="*{name}">Example</td>
                <td th:text="*{address}">Example</td>
                <td th:text="*{sourceType.getName()}">Example</td>
                <td>Изменить</td>
                <td>
                    <form th:action="@{'source/delete/' + *{id}}" th:method="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>