<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/security">

<body>

<div class="sources-list list-data" th:fragment="all-sources (sources)">
    <div>
        <table>
            <th>Номер</th>
            <th>Источник</th>
            <th>Адрес источника</th>
            <th>Тип источника</th>
            <th sec:authorize="hasRole('USER')">Изменить</th>
            <th sec:authorize="hasRole('USER')">Удалить</th>
            <tr th:if="${sources.size() == 0}">
                <td colspan="6">Нет данных</td>
            </tr>
            <tr th:each="source : ${sources}" th:object="${source}">
                <td th:text="${sourceStat.count}">Example</td>
                <td th:text="*{name}">Example</td>
                <td th:text="*{address}">Example</td>
                <td th:text="*{sourceType.getName()}">Example</td>
                <td sec:authorize="hasRole('USER')">
                    <form th:action="@{/source/alter}" th:method="get">
                        <input type="hidden" name="id" th:value="*{id}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td sec:authorize="hasRole('USER')">
                    <form th:action="@{'/source/delete/' + *{id}}" th:method="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="alter-source alter-data" th:fragment="alter-source (source)">
    <form th:action="@{/source}" th:method="PUT" th:object="${source}">
        <fieldset>
            <legend th:text="${source.id == null ? 'Создать новый истчник:' : 'Изменить данные источника:'}"></legend>
            <label th:for="@{#ids.next('id')}">UUID:</label>
            <br>
            <input type="text" th:field="*{id}" th:placeholder="Новый"
                   th:value="${source.id}" readonly>
            <br>
            <label th:for="@{#ids.next('name')}">Источник:</label>
            <br>
            <input type="text" th:field="*{name}" placeholder="Имя"
                   th:value="*{name}" required minlength="1">
            <br>
            <label th:for="@{#ids.next('address')}">Адрес источника:</label>
            <br>
            <input type="text" th:field="*{address}" placeholder="Адрес"
                   th:value="*{address}" required minlength="1">
            <br>
            <div>Тип источника:</div>
            <label for="RTS">РТС</label>
            <input type="radio" id="RTS" name="sourceType" th:value="RTS"
                   th:checked="${source.sourceType.toString() == 'RTS' ? 'checked' : _}">
            <label for="KTS">КТС</label>
            <input type="radio" id="KTS" name="sourceType" th:value="KTS"
                   th:checked="${source.sourceType.toString() == 'KTS' ? 'checked' : _}">
            <label for="MK">МК</label>
            <input type="radio" id="MK" name="sourceType" th:value="MK"
                   th:checked="${source.sourceType.toString() == 'MK' ? 'checked' : _}">
            <label for="PK">ПК</label>
            <input type="radio" id="PK" name="sourceType" th:value="PK"
                   th:checked="${source.sourceType.toString() == 'PK' ? 'checked' : _}">
            <label for="AIT">АИТ</label>
            <input type="radio" id="AIT" name="sourceType" th:value="AIT"
                   th:checked="${source.sourceType.toString() == 'AIT' ? 'checked' : _}">
            <br>
            <input type="submit" th:value="Сохранить" autofocus>
            <a th:href="@{/source}">Отмена</a>
        </fieldset>
    </form>
</div>

</body>
</html>