<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="source-properties-list" th:fragment="all-source-properties(sourceProperties, reportYear)">
    <table>
        <th>Номер</th>
        <th>Источник</th>
        <th>Номер филиала</th>
        <th>Имя тарифной зоны</th>
        <th>Изменить</th>
        <th>Удалить</th>
        <tr th:if="${sourceProperties.size() == 0}">
            <td colspan="6">Нет данных</td>
        </tr>
        <tr th:each="property : ${sourceProperties}" th:object="${property}">
            <td hidden="hidden" th:text="*{id}">Id источника</td>
            <td hidden="hidden" th:text="*{year}">Отчетный год</td>
            <td th:text="${propertyStat.count}">Номер</td>
            <td th:text="*{name}">Источник (имя)</td>
            <td th:text="*{branch}">Номер филиала</td>
            <td th:text="*{zoneName}">Имя тарифной зоны</td>
            <td>
                <form th:action="@{'/sourceproperty/alter/' + *{year}}" th:method="get">
                    <input type="hidden" name="srcId" th:value="*{id}">
                    <input type="submit" value="Изменить">
                </form>
            </td>
            <td>
                <form th:action="@{/sourceproperty}" th:method="delete">
                    <input hidden="hidden" th:id="${'srcId'}" th:name="srcId"
                           th:value="*{id}">
                    <input hidden="hidden" th:id="${'propYear'}" th:name="propYear"
                           th:value="*{year}">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="alter-source-property" th:fragment="alter-source-property(sourceProperty, sourceIdsNames)">
    <form th:action="@{/sourceproperty}" th:object="${sourceProperty}"
          th:with="newProperty=${sourceProperty.id == null}"
          th:method="${newProperty ? 'post' : 'put'}">
        <fieldset>
            <legend th:text="${newProperty ? 'Новое свойство источника:'
                        : 'Изменить свойство источника:'}">
            </legend>

            <label th:for="${#ids.next('id')}">Номер источника:</label>
            <br>
            <input th:if="${!newProperty}" type="text"
                   th:field="*{id}" placeholder="Номер источника" readonly>
            <input th:if="${newProperty}" type="text"
                   id="id" name="id" th:value="${sourceProperty.name}"
                   placeholder="Номер источника" readonly>
            <br>
            <label th:for="${#ids.next('name')}">Источник:</label>
            <br>
            <input th:if="${!newProperty}" type="text" th:field="*{name}"
                   placeholder="Имя источника" readonly>
            <select th:if="${newProperty}" th:field="*{name}">
                <option th:each="srcIdName : ${sourceIdsNames}"
                        th:value="${srcIdName.getKey()}"
                        th:text="${srcIdName.getKey()}">
                </option>
            </select>
            <br>


            <label th:for="${#ids.next('year')}">Год:</label>
            <br>
            <input type="text" th:field="*{year}" placeholder="Год" readonly>
            <br>
            <label th:for="${#ids.next('branch')}">Номер филиала:</label>
            <br>
            <input type="text" th:field="*{branch}" placeholder="Номер филиала">
            <br>
            <label th:for="${#ids.next('zoneName')}">Тарифная зона:</label>
            <br>
            <input type="text" th:field="*{zoneName}" placeholder="Тарифная зона">
            <br>
            <input type="submit" value="Сохранить">
            <a th:href="@{/sourceproperty}">Отмена</a>
        </fieldset>
    </form>
</div>
</body>
</html>