<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="ssfcs-list list-data" th:fragment="all-ssfcs(ssfcs, reportYear)">
    <table>
        <tr>
            <th>Номер</th>
            <th>Источник</th>
            <th>Вид топлива/Год</th>

            <th>Январь</th>
            <th>Февраль</th>
            <th>Март</th>
            <th>Апрель</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Август</th>
            <th>Сентябрь</th>
            <th>Октябрь</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>

        <tr th:if="${ssfcs.size() == 0}">
            <td colspan="17">Нет данных</td>
        </tr>

        <th:block th:each="srcSsfc, srcStat: ${ssfcs}" th:object="${srcSsfc}">
            <tr th:if="${srcStat.first || !srcSsfc.zoneName.equals(ssfcs[srcStat.index - 1].zoneName)}">
                <td th:text="${srcSsfc.zoneName}" colspan="17">Тарифная зона</td>
            </tr>
            <tr th:if="${srcStat.first || !srcSsfc.branchName.equals(ssfcs[srcStat.index - 1].branchName)}">
                <td th:text="${srcSsfc.branchName}" colspan="17">Филиал</td>
            </tr>
            <tr>
                <td rowspan="6" th:text="${srcStat.count}">Номер</td>
                <td rowspan="6" th:text="${srcSsfc.srcName}">Источник</td>
                <td rowspan="6" th:text="${srcSsfc.fuelType}">Вид топлива</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}" th:text="${ssfc.generation}">
                    Выработка тепловой энергии, Гкал
                </td>
                <td rowspan="6">
                    <form th:action="@{'/ssfc/alter'}" th:method="get">
                        <input type="hidden" th:id="${'ssfcId'}" th:name="ssfcId" th:value="${srcSsfc.id}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td rowspan="6">
                    <form th:action="@{/ssfc}" th:method="delete">
                        <input hidden="hidden" th:id="${'ssfcId'}" th:name="ssfcId"
                               th:value="${srcSsfc.id}">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            <tr>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}" th:text="${ssfc.ownNeeds}">
                    Тепловая энергия на собственные нужды, Гкал
                </td>
            </tr>
            <tr>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}" th:text="${ssfc.production}">
                    Отпуск тепловой энергии с коллекторов источников, Гкал
                </td>
            </tr>
            <tr>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}" th:text="${ssfc.ssfcg}">
                    УРУТ на выработу тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
            <tr>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}" th:text="${ssfc.ssfc}">
                    УРУТ на отпуск тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
        </th:block>
    </table>
</div>

<div class="alter-ssfc alter-data" th:fragment="alter-ssfc(ssfc, sourcesLeft,
tariffZones, branches)">
    <form th:action="@{/ssfc}" th:object="${sourceProperty}"
          th:with="newProperty=${sourceProperty.source == null}"
          th:method="${newProperty ? 'post' : 'put'}">
        <fieldset>
            <legend th:text="${newProperty ? 'Новое свойство источника:'
                        : 'Изменить свойство источника:'}">
            </legend>
            <label th:for="${#ids.next('source')}" th:text="${'Источник:'}">
                Источник:
            </label>
            <input th:if="${!newProperty}" type="text" th:field="*{source}"
                   placeholder="Источник" readonly hidden="hidden">
            <div th:if="${!newProperty}" th:text="*{source.sourceName}">Источник</div>
            <select th:if="${newProperty}" th:field="*{source}">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать источник'"
                        selected hidden="hidden">
                </option>
                <option th:each="source : ${sourcesLeft}"
                        th:value="${source}"
                        th:text="${source.sourceName}">
                </option>
            </select>
            <label th:for="${#ids.next('year')}">Год:</label>
            <input type="text" th:field="*{year}" placeholder="Год" readonly>
            <label th:for="${#ids.next('branch')}">Филиал:</label>
            <select th:field="*{branch}" placeholder="Филиал">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать филиал'"
                        selected hidden="hidden">
                </option>
                <option th:each="b : ${branches}"
                        th:value="${b}"
                        th:text="${b.branchName}"
                        th:selected="${newProperty ? false : sourceProperty.branch.equals(b)}">
                </option>
            </select>
            <label th:for="${#ids.next('tariffZone')}">Тарифная зона:</label>
            <select th:field="*{tariffZone}" placeholder="Тарифная зона">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать тарифную зону'"
                        selected hidden="hidden">
                </option>
                <option th:each="tz : ${tariffZones}"
                        th:value="${tz}"
                        th:text="${tz.zoneName}"
                        th:selected="${newProperty ? false : sourceProperty.tariffZone.equals(tz)}">
                </option>
            </select>
            <input type="submit" value="Сохранить">
            <a th:href="@{/sourceproperty}">Отмена</a>
        </fieldset>
    </form>
</div>
</body>
</html>