<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="ssfcs-list list-data" th:fragment="all-ssfcs(ssfcs, reportYear)">
    <table>
        <tr>
            <th>Номер</th>
            <th>Источник</th>
            <th>Вид топлива</th>
            <th>Показатель</th>
            <th>Итого</th>
            <th>Январь</th>
            <th>Февраль</th>
            <th>Март</th>
            <th>Апрель</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Август</th>
            <th>Сентябрь</th>
            <th>Октябрь</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>

        <tr th:if="${ssfcs.size() == 0}">
            <td colspan="19">Нет данных</td>
        </tr>

        <th:block th:each="srcSsfc, srcStat: ${ssfcs}" th:object="${srcSsfc}"
                  th:with="newTZ=${srcStat.first || !srcSsfc.zoneName.equals(ssfcs[srcStat.index - 1].zoneName)},
        newBranch=${srcStat.first || !srcSsfc.branchName.equals(ssfcs[srcStat.index - 1].branchName)}">
            <th:block th:if="${newTZ}">
                <tr>
                    <td th:text="${srcSsfc.zoneName}" colspan="19">Тарифная зона</td>
                </tr>
                <tr>
                    <td th:text="${srcSsfc.branchName}" colspan="19">Филиал</td>
                </tr>
            </th:block>
            <tr th:if="${!newTZ && newBranch}">
                <td th:text="${srcSsfc.branchName}" colspan="19">Филиал</td>
            </tr>
            <tbody class="one-row">
            <tr>
                <td rowspan="6" th:text="${srcStat.count}">Номер</td>
                <td rowspan="6" th:text="${srcSsfc.srcName}">Источник</td>
                <td rowspan="6" th:text="${srcSsfc.fuelType}">Вид топлива</td>
                <td th:text="'Выработка тепловой энергии, Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgGeneration, 1, 3)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.generation, 1, 3)}">
                    Выработка тепловой энергии, Гкал
                </td>
                <td rowspan="6">
                    <form th:action="@{'/ssfc/alter'}" th:method="get">
                        <input type="hidden" th:id="${'reportYear'}" th:name="reportYear" th:value="${reportYear}">
                        <input type="hidden" th:id="${'srcId'}" th:name="srcId" th:value="${srcSsfc.srcId}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td rowspan="6">
                    <form th:action="@{/ssfc}" th:method="delete">
                        <input type="hidden" th:id="${'reportYear'}" th:name="reportYear" th:value="${reportYear}">
                        <input type="hidden" th:id="srcId" th:name="srcId" th:value="${srcSsfc.srcId}">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            <tr>
                <td th:text="'Тепловая энергия на собственные нужды, Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgOwnNeeds, 1, 4)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ownNeeds, 1, 4)}">
                    Тепловая энергия на собственные нужды, Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'Тепловая энергия на собственные нужды, %'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgPercentOwnNeeds, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.getPercentOwnNeeds, 1, 2)}">
                    Тепловая энергия на собственные нужды, %
                </td>
            </tr>
            <tr>
                <td th:text="'Отпуск тепловой энергии с коллекторов источников, Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgProduction, 1, 3)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.production, 1, 3)}">
                    Отпуск тепловой энергии с коллекторов источников, Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'УРУТ на выработу тепловой энергии, кг у.т./Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgSsfcg, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ssfcg, 1, 2)}">
                    УРУТ на выработу тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'УРУТ на отпуск тепловой энергии, кг у.т./Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgSsfc, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ssfc, 1, 2)}">
                    УРУТ на отпуск тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</div>

<div class="alter-ssfc alter-data" th:fragment="alter-ssfc(ssfc, sourcesLeft,
tariffZones, branches)">
    <form th:action="@{/ssfc}" th:object="${sourceProperty}"
          th:with="newProperty=${sourceProperty.source == null}"
          th:method="${newProperty ? 'post' : 'put'}">
        <fieldset>
            <legend th:text="${newProperty ? 'Новое свойство источника:'
                        : 'Изменить свойство источника:'}">
            </legend>
            <label th:for="${#ids.next('source')}" th:text="${'Источник:'}">
                Источник:
            </label>
            <input th:if="${!newProperty}" type="text" th:field="*{source}"
                   placeholder="Источник" readonly hidden="hidden">
            <div th:if="${!newProperty}" th:text="*{source.sourceName}">Источник</div>
            <select th:if="${newProperty}" th:field="*{source}">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать источник'"
                        selected hidden="hidden">
                </option>
                <option th:each="source : ${sourcesLeft}"
                        th:value="${source}"
                        th:text="${source.sourceName}">
                </option>
            </select>
            <label th:for="${#ids.next('year')}">Год:</label>
            <input type="text" th:field="*{year}" placeholder="Год" readonly>
            <label th:for="${#ids.next('branch')}">Филиал:</label>
            <select th:field="*{branch}" placeholder="Филиал">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать филиал'"
                        selected hidden="hidden">
                </option>
                <option th:each="b : ${branches}"
                        th:value="${b}"
                        th:text="${b.branchName}"
                        th:selected="${newProperty ? false : sourceProperty.branch.equals(b)}">
                </option>
            </select>
            <label th:for="${#ids.next('tariffZone')}">Тарифная зона:</label>
            <select th:field="*{tariffZone}" placeholder="Тарифная зона">
                <option th:if="newProperty" th:value="null" th:text="'Выбрать тарифную зону'"
                        selected hidden="hidden">
                </option>
                <option th:each="tz : ${tariffZones}"
                        th:value="${tz}"
                        th:text="${tz.zoneName}"
                        th:selected="${newProperty ? false : sourceProperty.tariffZone.equals(tz)}">
                </option>
            </select>
            <input type="submit" value="Сохранить">
            <a th:href="@{/sourceproperty}">Отмена</a>
        </fieldset>
    </form>
</div>
</body>
</html>