<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="ssfcs-list list-data" th:fragment="all-ssfcs(ssfcs, reportYear)">
    <table>
        <tr>
            <th>Номер</th>
            <th>Источник</th>
            <th>Вид топлива</th>
            <th>Показатель</th>
            <th>Итого</th>
            <th>Январь</th>
            <th>Февраль</th>
            <th>Март</th>
            <th>Апрель</th>
            <th>Май</th>
            <th>Июнь</th>
            <th>Июль</th>
            <th>Август</th>
            <th>Сентябрь</th>
            <th>Октябрь</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>

        <tr th:if="${ssfcs.size() == 0}">
            <td colspan="19">Нет данных</td>
        </tr>

        <th:block th:each="srcSsfc, srcStat: ${ssfcs}" th:object="${srcSsfc}"
                  th:with="newTZ=${srcStat.first || !srcSsfc.zoneName.equals(ssfcs[srcStat.index - 1].zoneName)},
        newBranch=${srcStat.first || !srcSsfc.branchName.equals(ssfcs[srcStat.index - 1].branchName)}">
            <th:block th:if="${newTZ}">
                <tr>
                    <td th:text="${srcSsfc.zoneName}" colspan="19">Тарифная зона</td>
                </tr>
                <tr>
                    <td th:text="${srcSsfc.branchName}" colspan="19">Филиал</td>
                </tr>
            </th:block>
            <tr th:if="${!newTZ && newBranch}">
                <td th:text="${srcSsfc.branchName}" colspan="19">Филиал</td>
            </tr>
            <tbody class="one-row">
            <tr>
                <td rowspan="6" th:text="${srcStat.count}">Номер</td>
                <td rowspan="6" th:text="${srcSsfc.srcName}">Источник</td>
                <td rowspan="6" th:text="${srcSsfc.fuelType}">Вид топлива</td>
                <td th:text="'Выработка тепловой энергии, тыс. Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgGeneration, 1, 3)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.generation, 1, 3)}">
                    Выработка тепловой энергии, тыс. Гкал
                </td>
                <td rowspan="6">
                    <form th:action="@{'/ssfc/alter'}" th:method="get">
                        <input type="hidden" th:id="${'reportYear'}" th:name="reportYear" th:value="${reportYear}">
                        <input type="hidden" th:id="${'srcId'}" th:name="srcId" th:value="${srcSsfc.srcId}">
                        <input type="hidden" th:id="fuelType" th:name="fuelType" th:value="${srcSsfc.fuelType}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td rowspan="6">
                    <form th:action="@{/ssfc}" th:method="delete">
                        <input type="hidden" th:id="${'reportYear'}" th:name="reportYear" th:value="${reportYear}">
                        <input type="hidden" th:id="srcId" th:name="srcId" th:value="${srcSsfc.srcId}">
                        <input type="hidden" th:id="fuelType" th:name="fuelType" th:value="${srcSsfc.fuelType}">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            <tr>
                <td th:text="'Тепловая энергия на собственные нужды, тыс. Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgOwnNeeds, 1, 4)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ownNeeds, 1, 4)}">
                    Тепловая энергия на собственные нужды, тыс. Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'Тепловая энергия на собственные нужды, %'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgPercentOwnNeeds, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.getPercentOwnNeeds, 1, 2)}">
                    Тепловая энергия на собственные нужды, %
                </td>
            </tr>
            <tr>
                <td th:text="'Отпуск тепловой энергии с коллекторов источников, тыс. Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgProduction, 1, 3)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.production, 1, 3)}">
                    Отпуск тепловой энергии с коллекторов источников, тыс. Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'УРУТ на выработу тепловой энергии, кг у.т./Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgSsfcg, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ssfcg, 1, 2)}">
                    УРУТ на выработу тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
            <tr>
                <td th:text="'УРУТ на отпуск тепловой энергии, кг у.т./Гкал'">Показатель</td>
                <td th:text="${#numbers.formatDecimal(srcSsfc.avgSsfc, 1, 2)}">Итого</td>
                <td th:each="ssfc : ${srcSsfc.ssfcs}" th:object="${ssfc}"
                    th:text="${#numbers.formatDecimal(ssfc.ssfc, 1, 2)}">
                    УРУТ на отпуск тепловой энергии, кг у.т./Гкал
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</div>


<div class="alter-ssfc alter-data" th:fragment="alter-ssfc(srcSsfcs, reportYear, newSsfc, sources)">
    <form th:action="@{/ssfc(reportYear=${reportYear}, originalFuelType=${originalFuelType})}" th:object="${srcSsfcs}"
          th:method="${newSsfc ? 'post' : 'put'}" th:with="originalFuelType=${srcSsfcs.fuelType}">

        <fieldset>
            <legend th:text="${newSsfc ? 'Новый норматив:': 'Изменить норматив:'}"></legend>

            <label th:for="${#ids.next('srcId')}" th:text="'Источник:'">Источник:</label>
            <select th:if="${newSsfc}" th:field="*{srcId}" th:placeholder="'Выбрать источник'" required>
                <option th:value="null" th:text="'Выбрать источник'">
                    selected hidden="hidden">
                </option>
                <option th:each="src : ${sources}"
                        th:text="|${src.sourceName}${src.defined ? ' (есть данные)' : ''}|"
                        th:value="${src.sourceId}">
                </option>
            </select>
            <input th:if="${!newSsfc}" th:field="*{srcName}" readonly>
            <input th:if="${!newSsfc}" th:field="*{srcId}" hidden="hidden">
            <br>

            <label th:for="${#ids.next('fuelType')}" th:text="'Вид топлива:'">Вид топлива:</label>
            <select th:field="*{fuelType}" required>
                <option th:if="${newSsfc}" th:value="null" th:text="'Выбрать вид топлива'"
                        selected hidden="hidden">
                </option>
                <option th:each="type : ${T(ru.bk.j3000.normarchivedata.model.FUEL_TYPE).values()}"
                        th:text="${type.getName}" th:value="${type.getName}">
                </option>
            </select>

            <table class="list-data">
                <tr>
                    <th>Номер</th>
                    <th th:class="'ssfc-param'">Показатель</th>
                    <th>Январь</th>
                    <th>Февраль</th>
                    <th>Март</th>
                    <th>Апрель</th>
                    <th>Май</th>
                    <th>Июнь</th>
                    <th>Июль</th>
                    <th>Август</th>
                    <th>Сентябрь</th>
                    <th>Октябрь</th>
                    <th>Ноябрь</th>
                    <th>Декабрь</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td th:text="'Выработка тепловой энергии, тыс. Гкал'">Показатель</td>
                    <td th:each="monthSsfc, stats : *{ssfcs}">
                        <input th:field="*{ssfcs[__${stats.index}__].generation}"
                               type="text" required minlength="1"
                               pattern="^-?([0-9]*[.])?[0-9]+$">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td th:text="'Тепловая энергия на собственные нужды, тыс. Гкал'">Показатель</td>
                    <td th:each="monthSsfc, stats : *{ssfcs}">
                        <input th:field="*{ssfcs[__${stats.index}__].ownNeeds}"
                               type="text" required minlength="1"
                               pattern="^-?([0-9]*[.])?[0-9]+$">
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td th:text="'Отпуск тепловой энергии с коллекторов источников, тыс. Гкал'">Показатель</td>
                    <td th:each="monthSsfc, stats : *{ssfcs}">
                        <input th:field="*{ssfcs[__${stats.index}__].production}"
                               type="text" required minlength="1"
                               pattern="^-?([0-9]*[.])?[0-9]+$">
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td th:text="'УРУТ на выработу тепловой энергии, кг у.т./Гкал'">Показатель</td>
                    <td th:each="monthSsfc, stats : *{ssfcs}">
                        <input th:field="*{ssfcs[__${stats.index}__].ssfcg}"
                               type="text" required minlength="1"
                               pattern="^-?([0-9]*[.])?[0-9]+$">
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td th:text="'УРУТ на отпуск тепловой энергии, кг у.т./Гкал'">Показатель</td>
                    <td th:each="monthSsfc, stats : *{ssfcs}">
                        <input th:field="*{ssfcs[__${stats.index}__].ssfc}"
                               type="text" required minlength="1"
                               pattern="^-?([0-9]*[.])?[0-9]+$">
                    </td>
                </tr>
            </table>

            <th:block th:each="monthSsfc, stats : *{ssfcs}">
                <input th:field="*{ssfcs[__${stats.index}__].month}" hidden="hidden">
                <input th:field="*{ssfcs[__${stats.index}__].year}" hidden="hidden">
                <input th:field="*{ssfcs[__${stats.index}__].id}" hidden="hidden">
            </th:block>

            <input type="submit" value="Сохранить" autofocus>
            <a th:href="@{/ssfc(reportYear=${reportYear})}">Отмена</a>
        </fieldset>
    </form>
</div>

<div th:if="${show && warns.size() > 0}" th:class="ssfc-warns" th:fragment="ssfc-warns(warns, show)">
    <p th:class="attention" th:text="'Внимание!'"></p>

    <div th:class="warns-list">
        <p th:each="warn : ${warns}" th:text="${warn}"></p>
    </div>

    <input type="button" th:class="warns-ok" value="Ok">
</div>

</body>
</html>