<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div class="tariff-zones-list" th:fragment="all-tariff-zones(tariffZones)">
    <table>
        <th>Номер</th>
        <th>Название</th>
        <th>Изменить</th>
        <th>Удалить</th>
        <tr th:if="${tariffZones.size() == 0}">
            <td colspan="4">Нет данных</td>
        </tr>
        <tr th:each="zone : ${tariffZones}" th:object="${zone}">
            <td th:text="*{id}">Id</td>
            <td th:text="*{zoneName}">zoneName</td>
            <td>
                <form th:action="@{/tariffzone/alter}" th:method="get">
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="submit" value="Изменить">
                </form>
            </td>
            <td>
                <form th:action="@{'/tariffzone/' + *{id}}" th:method="delete">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </table>
</div>

<div class="alter-tariff-zone" th:fragment="alter-tariff-zone(tariffZone)">
    <form th:action="@{/tariffzone}" th:object="${tariffZone}"
          th:with="newZone=${tariffZone.id == null}"
          th:method="${newZone ? 'post' : 'put'}">
        <fieldset>
            <legend th:text="${newZone ? 'Создать новую тарифную зону:'
                    : 'Изменить данные тарифной зоны:'}">
            </legend>
            <label th:for="${#ids.next('id')}">Номер:</label>
            <br>
            <input type="text" th:field="*{id}" placeholder="Номер зоны"
                   th:readonly="${!newZone}" th:value="tariffZone.id">
            <br>
            <label th:for="${#ids.next('zoneName')}">Название тарифной зоны:</label>
            <br>
            <input type="text" th:field="*{zoneName}" placeholder="Название тарифной зоны"
                   th:value="${tariffZone.zoneName}">
            <br>
            <input type="submit" value="Сохранить">
            <a th:href="@{/tariffzone}">Отмена</a>
        </fieldset>
    </form>
</div>
</body>
</html>