<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="users-list list-data" th:fragment="all-users (users)">
    <div>
        <table>
            <th>Номер</th>
            <th>Имя</th>
            <th>Роль</th>
            <th>Изменить</th>
            <th>Удалить</th>
            <tr th:if="${users.size() == 0}">
                <td colspan="5">Нет данных</td>
            </tr>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="${userStat.count}"></td>
                <td th:text="*{name}">Example</td>
                <td th:text="*{role.getRoleName()}">Example</td>
                <td>
                    <form th:action="@{user/alter}" th:method="get">
                        <input type="hidden" name="name" th:value="*{name}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td>
                    <form th:action="@{'user/' + *{name}}" th:method="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="alter-user alter-data" th:fragment="alter-user (user, secRoles)">
    <form th:action="@{/user}" th:method="${newUser ? 'post' : 'put'}" th:object="${user}"
          th:with="newUser=${user.name} == ''">
        <fieldset>
            <legend th:text="${newUser ?
                'Создать новго пользователя:' : 'Изменить данные пользователя:'}">
            </legend>
            <label th:for="${#ids.next('name')}">Имя пользователя:</label>
            <br>
            <input type="text" th:field="*{name}" th:placeholder="Новый" th:readonly="${!newUser}"
                   required minlength="1">
            <label th:for="${#ids.next('password')}">Пароль:</label>
            <br>
            <input type="password" th:field="*{password}" placeholder="Новый пароль"
                   required minlength="1">
            <br>
            <div>Роль:</div>
            <th:block th:each="oneRole : ${secRoles}">
                <label th:for="${#ids.next('role')}" th:text="${oneRole.getRoleName()}"></label>
                <input type="radio" th:field="*{role}" th:value="${oneRole}">
            </th:block>
            <br>
            <input type="submit" th:value="Сохранить" autofocus>
            <a th:href="@{/user}">Отмена</a>
        </fieldset>
    </form>
</div>

</body>
</html>