<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="users-list" th:fragment="all-users (users)">
    <div>
        <table>
            <th>Номер</th>
            <th>Имя</th>
            <th>Роль</th>
            <th>Изменить</th>
            <th>Удалить</th>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="${userStat.count}"></td>
                <td th:text="*{name}">Example</td>
                <td th:text="*{authority}">Example</td>
                <td>
                    <form th:action="@{user/alter}" th:method="get">
                        <input type="hidden" name="name" th:value="*{name}">
                        <input type="submit" value="Изменить">
                    </form>
                </td>
                <td>
                    <form th:action="@{'user/' + *{name}}" th:method="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="alter-user" th:fragment="alter-user (user)">
    <form th:action="@{/user}" th:method="PUT" th:object="${user}">
        <fieldset>
            <legend th:text="${user.name == '' ?
                'Создать новго пользователя:' : 'Изменить данные пользователя:' + user.authority}">
            </legend>
            <label th:for="@{#ids.next('name')}">Имя пользователя:</label>
            <br>
            <input th:if="${user.name} != ''" type="text" th:field="*{name}" th:placeholder="Новый"
                   th:value="${user.name}" readonly>
            <input th:if="${user.name} == ''" type="text" th:field="*{name}" th:placeholder="Новый"
                   th:value="${user.name}">
            <label th:for="@{#ids.next('password')}">Пароль:</label>
            <br>
            <input type="password" th:field="*{password}" placeholder="Новый пароль"
                   th:value="*{password}">
            <br>
            <div>Роль:</div>
            <label for="admin">Администратор</label>
            <input type="radio" id="admin" name="authority" th:value="admin"
                   th:checked="${user.authority == 'ROLE_ADMIN' ? 'checked' : _}">
            <label for="user">Пользователь</label>
            <input type="radio" id="user" name="authority" th:value="user"
                   th:checked="${user.authority == 'ROLE_USER' ? 'checked' : _}">
            <br>
            <input type="submit" th:value="Сохранить">
            <a th:href="@{/user}">Отмена</a>
        </fieldset>
    </form>
</div>

</body>
</html>