<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Util template</title>
</head>

<body>
<div class="select-year" th:fragment="select-year(link, reportYear)">
    <form class="select-year" th:action="@{'/' + link}" method="get">
        <label for="select-year">Выбор отчетного года: </label>
        <select id="select-year" name="selectedYear">
            <option th:each="year : ${#numbers.sequence(2020, #dates.createNow().getYear() + 1905, 1)}"
                    th:value="${year}" th:text="${year}" th:selected="${reportYear == year}"></option>
        </select>
        <input type="submit" value="Обновить">
    </form>
</div>
</body>
</html>