<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security">
<head>
    <meta charset="UTF-8">
    <title>Нормативные удельные расходы топлива</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/welcome.css" th:href="@{/css/welcome.css}">
</head>
<body>
<div class="welcome-container">
    <div class="output-area">
        <!--/* Пользователи */-->
        <div th:if="${activeMenu.contains('user')}"
             th:insert="~{user::all-users (${users})}">Users
        </div>
        <div th:if="${alterUser}" th:insert="~{user::alter-user (${user}, ${secRoles})}">Alter user</div>

        <!--/* Источники */-->
        <div th:if="${activeMenu.contains('source')}"
             th:insert="~{source::all-sources (${sources})}">sources
        </div>
        <div th:if="${alterSource}" th:insert="~{source::alter-source (${source})}">alter source</div>

        <!--/* Тарифные зоны */-->
        <div th:if="${activeMenu.contains('tariffZone')}"
             th:insert="~{tariffzone::all-tariff-zones(${tariffZones})}">tariff zones
        </div>
        <div th:if="${alterTariffZone}"
             th:insert="~{tariffzone::alter-tariff-zone(${tariffZone})}">alter tariff zones
        </div>

        <!--/* Свойства источников */-->
        <div th:if="${activeMenu.contains('sourceProperty')}"
             th:insert="~{util::select-year(${'sourceproperty'}, ${reportYear})}">
            select report years
        </div>
        <div th:if="${activeMenu.contains('sourceProperty')}"
             th:insert="~{sourceproperty::all-source-properties(${sourceProperties}, ${reportYear})}">source properties
        </div>
        <div th:if="${alterSourceProperty}"
             th:insert="~{sourceproperty::alter-source-property(${sourceProperty},
             ${sourcesLeft}, ${tariffZones}, ${branches})}">alter source property
        </div>


        <!--/* НУР */-->
        <!--/* Отчеты */-->
        <!--/* Ошибки */-->
    </div>
    <div th:if="${shadow}" class="shadow"></div>
    <div class="welcome-title" th:utext="${title}">Welcome!</div>
    <div class="menu-area">Меню
        <ul class="sub-menu">
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/user}">Пользователи</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('user')}">
                    <li><a th:href="@{/user}">Список пользователей</a></li>
                    <li><a th:href="@{/user/alter}">Добавить пользователя</a></li>
                </ul>
            </li>
            <li><a th:href="@{/source}">Источники</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('source')}">
                    <li><a th:href="@{/source}">Список источников</a></li>
                    <li><a th:href="@{/source/alter}">Добавить источник</a></li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <form class="upload-form" th:action="@{source/template}" method="post"
                              enctype="multipart/form-data">
                            <label for="file-upload-source">Выбрать файл</label>
                            <input type="file" id="file-upload-source" name="file">
                            <label for="upload-submit-source">Загрузить файл</label>
                            <input type="submit" id="upload-submit-source">
                        </form>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="source-template" href="source/template">Скачать шаблон</a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/tariffzone}">Тарифные зоны</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('tariffZone')}">
                    <li><a th:href="@{/tariffzone}">Список тарифных зон</a></li>
                    <li><a th:href="@{/tariffzone/alter}">Добавить тарифную зону</a></li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <form class="upload-form" th:action="@{/tariffzone/template}" method="post"
                              enctype="multipart/form-data">
                            <label for="file-upload-tariffzones">Выбрать файл</label>
                            <input type="file" id="file-upload-tariffzones" name="file">
                            <label for="upload-submit-tariffzones">Загрузить файл</label>
                            <input type="submit" id="upload-submit-tariffzones">
                        </form>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="tariff-zone-template" th:href="@{/tariffzone/template}">Скачать шаблон</a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/sourceproperty}">Свойства источников</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('sourceProperty')}">
                    <li><a th:href="@{/sourceproperty}">Список свойств источников</a></li>
                    <li>
                        <a th:href="@{'/sourceproperty/alter/' + ${reportYear}}">
                            Добавить свойство источника
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <form class="upload-form" th:action="@{/sourceproperty/template}"
                              method="post" enctype="multipart/form-data">
                            <label for="file-upload-source-properties">Выбрать файл</label>
                            <input type="file" id="file-upload-source-properties" name="file">
                            <label for="upload-submit-source-properties">Загрузить файл</label>
                            <input type="submit" id="upload-submit-source-properties">
                        </form>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a class="source-property-template" th:href="@{/sourceproperty/template}">
                            Скачать шаблон
                        </a>
                    </li>
                </ul>
            </li>
            <li><a th:href="@{/ssfc}">Нормативы (НУР)</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('ssfc')}">
                    <li>Вывести НУР</li>
                    <li>Добавить НУР источника</li>
                    <li>Удалить НУР источника</li>
                    <li>Загрузить из файла</li>
                    <li>Скачать шаблон</li>
                </ul>
            </li>
            <li><a th:href="@{/report}">Отчеты</a>
                <ul class="sub-sub-menu" th:if="${activeMenu.contains('report')}">
                    <li>Отчет источники</li>
                    <li>Отчет тарифные зоны</li>
                    <li>Отчет свойства источника</li>
                    <li>Отчет НУР</li>
                </ul>
            </li>
            <li><a th:href="@{/logout}">Выход</a></li>
        </ul>
    </div>
</div>
</body>
</html>