<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/welcome.css" th:href="@{/css/welcome.css}">
</head>
<body>
<div class="welcome-container">
    <div class="menu">Меню
        <div class="sub-menu">Пользователи</div>
        <div class="sub-menu">Источники</div>
        <div class="sub-menu">Тарифные зоны</div>
        <div class="sub-menu">Свойства источников</div>
        <div class="sub-menu">Нормативы (НУР)</div>
        <div class="sub-menu">Отчеты</div>
        <div class="sub-menu">&gtНазад</div>
    </div>
    <div class="output-area">Добро пожаловать!</div>
    <p th:text="|Hello, ${name}!|"/>
</div>
</body>
</html>